<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>后台管理中心</title>
    <link rel="stylesheet" href="../admin/css/pintuer.css">
    <link rel="stylesheet" href="../admin/css/admin.css">
    <script src="../admin/js/jquery.js"></script>
</head>
<body style="background-color:#f2f9fd;">
<div class="header bg-main">
    <div class="logo margin-big-left fadein-top">
        <h1><img src="../images/y.jpg" class="radius-circle rotate-hover" height="50" alt="" />后台管理中心</h1>
    </div>
    <div class="head-l"><a class="button button-little bg-green" href="index.html"><span class="icon-home"></span> 前台首页</a> &nbsp;&nbsp;<a class="button button-little bg-red" href="../login.html"><span class="icon-power-off"></span> 退出登录</a> </div>
</div>
<div class="leftnav">
    <div class="leftnav-title"><strong><span class="icon-list"></span>菜单列表</strong></div>
    <h2><span class="icon-user"></span>用户管理</h2>
    <ul style="display:block">
        <li><a href="../admin/user_list" target="right"><span class="icon-caret-right"></span>用户信息</a></li>
    </ul>
    <h2><span class="icon-user"></span>信息管理</h2>
    <ul style="display:block">
        <li><a href="../admin/zhijiao_list" target="right"><span class="icon-caret-right"></span>支教信息</a></li>
    </ul>
    <h2><span class="icon-user"></span>流程信息</h2>
    <ul style="display:block">
        <li><a href="../admin/instance_list" target="right"><span class="icon-caret-right"></span>报名初审</a></li>
        <li><a href="../admin/instance_list2" target="right"><span class="icon-caret-right"></span>面试审查</a></li>
        <li><a href="../admin/instance_list3" target="right"><span class="icon-caret-right"></span>集中培训</a></li>
    </ul>
    <h2><span class="icon-user"></span>申请信息</h2>
    <ul style="display:block">
        <li><a href="../admin/application_list" target="right"><span class="icon-caret-right"></span>申请查询</a></li>
    </ul>

</div>
<script type="text/javascript">
    $(function(){
        $(".leftnav h2").click(function(){
            $(this).next().slideToggle(200);
            $(this).toggleClass("on");
        })
        $(".leftnav ul li a").click(function(){
            $("#a_leader_txt").text($(this).text());
            $(".leftnav ul li a").removeClass("on");
            $(this).addClass("on");
        })
    });
</script>

<div class="admin">
    <iframe scrolling="auto" rameborder="0" src="http://127.0.0.1:8080/admin/info" name="right" width="100%" height="100%"></iframe>
</div>

</body>
</html>