<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://re.go9999.com/upload/web/themes/eev1/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://re.go9999.com/upload/web/themes/eev1/style/lib/slick.css">
    <title>中国支教联盟 - 关于我们</title>
    <meta name="csrf-param" content="_backendCSRF">
    <meta name="csrf-token" content="Y0x1SWRYUWYrNBYsVzJpLQUaBSUCIGIBMykvBVIMPyQiBUQbBm0IPA==">
    <link rel="stylesheet" href="http://re.go9999.com/upload/web/themes/eev1/style/css/style.css">
</head>


<body>
<!--<div><p th:id="toName"  th:text="'欢迎登录,'+ ${user}+'同学!'"></p></div>-->

<nav class="navbar navbar-default navbar-theme">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/">Go9999</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/toIndex">首页 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown ">
                    <a href="/toZhiJiaoIndex">支教</a>
                </li>
                <!--<li class="dropdown ">
                    <a href="/topic/index">日志</a>
                </li>
                <li class="dropdown ">
                    <a href="/album/index">相册</a>
                </li>-->
                <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">助学</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">申请资助</a></li>
                        <li><a href="#">资助学生</a></li>
                    </ul>
                </li>
                <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">项目</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">基础建设</a></li>
                        <li><a href="#">物资捐赠</a></li>
                    </ul>
                </li>
                <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">活动</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">最新活动</a></li>
                        <li><a href="#">往期活动</a></li>
                        <li><a href="#">活动进行时</a></li>
                    </ul>
                </li>
                <li class="dropdown hide">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">财务</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">其他费用</a></li>
                        <li><a href="#">办公室经费</a></li>
                        <li><a href="#">志愿者补贴</a></li>
                    </ul>
                </li>
                <li><a href="https://site.douban.com/118628/">小站</a></li>
                <li class="active"><a href="/toAboutUs">关于我们</a></li>
                <li class=" hide"><a href="https://shop136419451.taobao.com/">周边</a></li>
                <li class=" hide"><a href="#">FM电台</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right login-tool">
                <br>
                <div class="login-btns" th:if="${user} == null">
                    <a href="/toLogin" class="login-btn">登录</a>
                    <a href="/toRegister" class="reg-btn">注册</a>
                </div>
                <div th:if="${user} != null">
                    <a href="/toProcessInstance"> <span id="uname" style="color: red" th:text="'欢迎登录,'+ ${user}+'同学!'" ></span></a>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- header -->

<div class="main-wrap">
    <div class="container">
        <div class="notice shadow">
            <div class="notice-heading">
                <h3 class="notice-title">关于我们</h3>
            </div>
            <div class="notice-body" style="max-height: 2000px;">
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;中国·支教联盟（CNAEF）创立于2006年4月，由社会各界自愿支持偏远地区青少年教育的爱心人士组成，是中国最早成立的民间支教公益组织、中国青少年教育平等运动的倡导者和实践者、一直致力于偏远地区教育事业发展的非营利性民间机构。</p>
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;自成立以来，联盟始终恪守“知识改变命运，教育提高素质”的宗旨，广泛动员社会力量，积极倡导青少年教育平等运动，极大地推动了偏远地区教育事业的发展。</p>
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;联盟的主要工作是：收集和展示偏远地区教育现状，发布支教需求信息，呼吁全民共同关注偏远地区孩子的成长；牵线支教志愿者，为偏远地区提供支教资源，缓解师资匮乏现状；为贫困地区提供生活及教学物资的支持；搭建一对一助学和捐赠的桥梁。</p>
                <br>
                <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;十二年来，我们的脚步到达了宁夏、贵州、云南、四川、陕西、湖南、广西、青海、新疆、河南、江西等43个县，最远到达了缅甸的缅北华人地区；支援偏远山区中小学将近240所，定向资助高中生4百余人，中小学生2千余人；通过联盟参加支教志愿者老师2千余人，支教课时20万余节；援建教学场所70余处，捐赠图书2万余册、物资45万件，惠及人数达到100万人次。</p>

                <br>
                <h4>团队理念</h4>
                <p>聚是一团火 散作满天星</p>
                <br>
                <h4>支教足迹图</h4>
                <p><img alt="支教足迹图" src="http://re.go9999.com/upload/web/themes/eev1/images/footerprint.jpg"></p>
            </div>
            <div class="notice-footer">
                <div class="btns">
                </div>
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row footer-contact">
            <div class="col-md-6">
                <h3>联系我们</h3>
                <ul>
                    <li>地址：江苏省南京市江宁区南京晓庄学院</li>
                    <li>电话：011-88888888</li>
                    <li>网址：http://www.njxzc.edu.cn/</li>
                    <li>邮箱：1874391867@qq.com</li>
                    <li>QQ群：88888888</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>关注我们</h3>
                <div class="qrcode">
                    <img src="images/qrcodexiao.png">
                    <img src="images/qrcodexiaozhuang.png">
                </div>
            </div>
        </div>

    </div>
</footer>

<script src="http://how2j.cn/study/js/jquery/2.0.0/jquery.min.js"></script>
<link href="http://how2j.cn/study/css/bootstrap/3.3.6/bootstrap.min.css" rel="stylesheet">
<script src="http://how2j.cn/study/js/bootstrap/3.3.6/bootstrap.min.js"></script>

</body>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?36a2d067681a1e37a088cce729e1b44d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();

   /* function name() {
        var message = $("#toName").val();
        console.log(message);
    }*/

</script>
</html>