<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>

    <meta charset="UTF-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="shortcut icon" href="http://re.go9999.com/upload/web/themes/eev1/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="http://re.go9999.com/upload/web/themes/eev1/style/lib/slick.css">
    <title>中国支教联盟 - 注册</title>

    <meta name="csrf-param" content="_backendCSRF">
    <meta name="csrf-token" content="TFdkaW1mOF8kFS8fWEtpGCQNMjFcFAE5eB9SBwYjTCwDH1IxHSlRPA==">
    <link rel="stylesheet" href="http://re.go9999.com/upload/web/themes/eev1/style/css/style.css">
    <script src="../js/jquery/2.0.0/jquery.min.js"></script>
</head>
<body onload="name()">
<nav class="navbar navbar-default navbar-theme">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand logo" href="/">Go9999</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="/toIndex">首页 <span class="sr-only">(current)</span></a></li>
                <li class="dropdown ">
                    <a href="/toZhiJiaoIndex">支教</a>
                </li>
               <!-- <li class="dropdown ">
                    <a href="/topic/index">日志</a>
                </li>
                <li class="dropdown ">
                    <a href="/album/index">相册</a>
                </li>-->
                <li><a href="https://site.douban.com/118628/">小站</a></li>
                <li><a href="/toAboutUs">关于我们</a></li>
                <li class=" hide"><a href="https://shop136419451.taobao.com/">周边</a></li>
                <li class=" hide"><a href="#">FM电台</a></li>
            </ul>

            <div class="nav navbar-nav navbar-right login-tool">
                <br>
                <div class="login-btns" th:if="${user} == null">
                    <a href="/toLogin" class="login-btn">登录</a>
                    <a href="/toRegister" class="reg-btn">注册</a>
                </div>
                <div th:if="${user} != null">
                    <a href="/toProcessInstance"> <span id="uname" style="color: red" th:text="'欢迎登录,'+ ${user}+'同学!'" ></span></a>
                </div>
            </div>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>
<!-- header -->

<div class="login-warp">
    <div class="login-form shadow">
        <div class="login-head">
            <h1>用户注册</h1>
        </div>
        <div class="login-content">
          <!--  <form id="w0" action="/user/selectByPhone" method="post">-->
            <div style="height: 350px;width: 300px;margin: 0 auto">
                <input type="hidden" name="_backendCSRF">
                <div class="form-inputs">

                    <div class="form-item ">
                        <input type="text" id="account-a_phone" class="form-control" name="phone" placeholder="请输入手机号">                        </div>


                    <div class="form-item ">
                        <input type="password" id="account-a_pass" class="form-control" name="password" placeholder="请输入密码">                        </div>


                    <div class="form-item ">
                        <input type="text" id="account-a_title" class="form-control" name="name" placeholder="请输入真实姓名">                        </div>

                    <div class="form-group">
                        <select id="account-a_sexy_id" class="form-control" name="sex">
                            <option value="1">男</option>
                            <option value="0">女</option>
                        </select>                        </div>
                </div>
                <div class="form-item form-btn">
                    <button onclick="toRegister()" type="submit" class="submit-btn">注册</button>
                </div>
                <p style="color: red;" id="detail"></p>
                <div class="login-tip"><a href="/toLogin">已有账号，请登录</a></div>
                <!-- </form>-->
            </div>
        </div>
    </div>
</div>

<footer class="footer">
    <div class="container">
        <div class="row footer-contact">
            <div class="col-md-6">
                <h3>联系我们</h3>
                <ul>
                    <li>地址：江苏省南京市江宁区南京晓庄学院</li>
                    <li>电话：011-88888888</li>
                    <li>网址：http://www.njxzc.edu.cn/</li>
                    <li>邮箱：1874391867@qq.com</li>
                    <li>QQ群：88888888</li>
                </ul>
            </div>
            <div class="col-md-6">
                <h3>关注我们</h3>
                <div class="qrcode">
                    <img src="../images/qrcodexiao.png">
                    <img src="../images/qrcodexiaozhuang.png">
                </div>
            </div>
        </div>
    </div>
</footer>
<script>
    function toRegister() {
        $.ajax({
            type:'post',
            url:'../user/registerUser',
            data:'{"phone":"'+$("#account-a_phone").val()+'","password":"'+$("#account-a_pass").val()+'","name":"'+$("#account-a_title").val()+'","sex":"'+$("#account-a_sexy_id").val()+'"}',
            dataType:'json',
            contentType: 'application/json;charset=utf-8',
            success:function (result) {
                console.log(result.msg);
                var show = '';
                if(result.msg === "该手机号已经被注册!"){
                    show = '该手机号已经被注册!';
                    $("#detail").html(show);
                }else {
                    location.href = '/toIndex';
                }
            }
        })
    }

    function name() {
        $.ajax({
            type:'post',
            url:"../user/getName",
            success:function (result) {
                console.log(result);
                if(result == "no"){
                    $("#uname").hide();
                }else {
                    $("#login-btns").hide();
                    $("#uname").html("欢迎登录,"+result+"同学!");
                }
            }
        })
    }
</script>
</body>
</html>