<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xx.demo.mapper.UserMapper">

    <select id="selectByPhone" parameterType="com.xx.demo.entity.User" resultType="com.xx.demo.entity.User">
        select * from user where phone = #{phone}
      </select>
</mapper>
